/Users/zarek/GitHub/TaylorLab/zvina/p300/**
/Users/zarek/GitHub/TaylorLab/zvina/p300/*
/Users/zarek/GitHub/TaylorLab/zvina/p300/*/*
/Users/zarek/GitHub/TaylorLab/zvina/p300/*/*/*
/Users/zarek/GitHub/TaylorLab/zvina/hepi/**
/Users/zarek/GitHub/TaylorLab/zvina/hepi/*
/Users/zarek/GitHub/TaylorLab/zvina/hepi/*/*
/Users/zarek/GitHub/TaylorLab/zvina/hepi/*/*/*
/Users/zarek/GitHub/TaylorLab/zvina/ligsets/div5/*
/Users/zarek/GitHub/TaylorLab/zvina/ligsets/div5/*/*
/Users/zarek/GitHub/TaylorLab/zvina/ligsets/div5/*/*/*


